#chatInput{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}

#chatInput input{
    width : 70%;
    margin-top:1%;
    color:white;
    background-color: rgba(0, 0, 0, 0.49);
    border : none;
    padding:1.5%;
    margin-bottom: 2%;
}

input::placeholder {
    color: white; 
    font-weight: 400;
  }

#chatInput button{
    width:15%;
    margin-top:1%;
    padding:0.8%;
    margin-bottom: 2%;
    background-color: rgba(109, 109, 109, 0.648);
    color:white;
    border:none;
}

#chatInput button:hover{
    background-color: rgba(59, 59, 59, 0.648);
    cursor:pointer;
}

#inputContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width:70%;
    background-color: rgba(0,0,0,0.5);

}

#inputContainer p {
    color:white;
    display:inline;
    font-size:1rem;
}
#inputContainer p p {
    color:rgb(48, 219, 214);
}

#bar{
    width:80%;
    height:1px;
    margin-top:5%;
    background-color: rgba(122, 122, 122, 0.492);
    
}

@media screen and (min-width: 200px) and (max-width : 500px){


    #chatInput input{
        width : 60%;
        font-size: 0.5rem;
        font-weight:400;
        padding:3%;
    }

    #inputContainer{
        width:100%;
    }

    #chatInput button{
        width:20%;
        font-size:0.6rem;
        font-weight:400;
        padding:2%;
    }

    #inputContainer p {
        font-size:0.8rem;
    }
}

@media screen and (min-width: 500px) and (max-width : 1000px) {




    #inputContainer{
        width:100%;
    }

}