#errorContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  height: 50%;
}

#errorContainer h1 {
  color: white;
  font-size: 6vw;
}

#errorContainer #desc1 {
  color: white;
  font-size: 2vw;
  font-weight: 400;
}

#errorContainer #desc2 {
  color: white;
  font-size: 1vw;
  font-weight: 400;
  width: 50%;
}

#errorContainer #links {
  color: white;
  font-size: 1vw;
  font-weight: 400;
  width: 100%;
}

ul {
  width: 10%;
}

ul li {
  color: rgb(255, 255, 255);
  font-size: 1vw;
  width: auto;
}

ul li:hover {
  color: rgb(4, 238, 199);
  cursor: pointer;
}

#mainErrorContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
  justify-content: space-evenly;
  width: 80%;
  margin-left: 10%;
  height: 50%;
}

#mainErrorContainer img {
  width: 20vw;
  height: 20vw;
}

@media screen and (min-width: 200px) and (max-width: 520px) {
  #mainErrorContainer {
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-left: 5%;
  }

  #errorContainer h1 {
    font-size: 15vw;
  }

  #errorContainer #desc1 {
    font-size: 5vw;
  }

  #errorContainer #desc2 {
    font-size: 4vw;
    width: 80%;
  }

  #errorContainer #links {
    font-size: 4vw;
  }

  ul {
    width: 100%;
  }

  ul li {
    font-size: 4vw;
  }

  #mainErrorContainer img {
    visibility: hidden;
  }

  #errorRobot {
    margin-top: 5%;
  }
}

@media screen and (min-width: 520px) and (max-width: 920px) {
  #mainErrorContainer {
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-left: 5%;
  }

  #errorContainer h1 {
    font-size: 10vw;
  }

  #errorContainer #desc1 {
    font-size: 3vw;
  }

  #errorContainer #desc2 {
    font-size: 2.5vw;
    width: 80%;
  }

  #errorContainer #links {
    font-size: 2.5vw;
  }

  ul {
    width: 100%;
  }

  ul li {
    font-size: 2.5vw;
  }

  #mainErrorContainer img {
    visibility: hidden;
  }

  #errorRobot {
    margin-top: 5%;
  }
}
